* {
  margin: 0;
}
* {
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  background-color: #f4f6f8;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.container .back {
  position: absolute;
  left: 50px;
  top: 30px;
  font-size: 40px;
  cursor: pointer;
}
.container .back i {
  color: #06c0a8;
}

.container__image {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  background-size: cover;
  transition: ease-in-out 0.3s;
  z-index: 2;
}
.container__image:before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: inherit;
  background-position: bottom;
  filter: blur(40px) saturate(0%);
  transform: scaleX(0.4);
  transition: ease-in-out 0.4s;
  border-radius: 120px;
  transform-origin: right;
  opacity: 0;
  z-index: -1;
}
.container__info {
  position: relative;
  line-height: 1.8;
  transition: ease-in-out 0.3s;
  opacity: 0;
}
.container__location {
  transition-delay: 0.15s;
}
.container__image:hover {
  border-radius: 0;
  width: 580px;
  height: 450px;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(9, 55, 53, 0.08),
    0px 16px 24px rgba(9, 55, 53, 0.1), 0px 24px 32px rgba(9, 55, 53, 0.14);
}
.container__image:hover::before {
  width: 100%;
  opacity: 0.18;
  filter: blur(10px) saturate(100%);
  transform: scale(2.8) translate3d(-18%, 0px, 0px);
}
.container__info {
  transform: translate3d(-40%, 0px, 0px);
  opacity: 1;
}
.link {
  border-bottom: 1px solid transparent;
  color: #06c0a8;
  text-decoration: none;
  transition: ease-in 0.13s;
}
.link:hover {
  background-color: #06c0a8;
  color: #ffffff;
}
