:root {
  --contrast: #b6eceb;
  --bgColor: #defcf9;
}

/* Resets */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  --background: #defcf9;
  --text: #3c3744;
  --accent: #f49d6e;
  --socialIcon: #50248f;
  font-family: "Open Sans", sans-serif;
  background-color: var(--background);
  height: 100%;
  color: var(--text);
  transition: color ease-out 250ms;
  overflow-x: hidden;
}

header {
  height: 10vh;
}

.container {
  width: 70%;
  margin: 0 auto;
  margin-top: 50px;
}

header > h1 {
  font-weight: 400;
  font-size: 50px;
}

header .effect-shine:hover {
  border-bottom: 3px solid tomato;
  color: tomato;
  -webkit-mask-image: linear-gradient(
    -75deg,
    rgba(0, 0, 0, 0.7) 30%,
    #000 40%,
    rgba(0, 0, 0, 0.7) 70%
  );
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}
@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
  }
}
header > h3 {
  font-weight: 400;
  margin-top: 10px;
  font-size: 30px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.theme-color {
  font-size: 16px;
}
/* gallery images */
.gallery {
  margin-top: 85px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(7, 6vw);
  grid-gap: 15px;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery__item {
  position: relative;
}
.gallery__item:focus {
  outline: 3px dashed orange;
}
.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}
.gallery__item--2 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 6;
}
.gallery__item--3 {
  grid-column-start: 7;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 3;
}
.gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 8;
}
.gallery__item--5 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 6;
  grid-row-end: 8;
}
.gallery__item--6 {
  grid-column-start: 7;
  grid-column-end: 10;
  grid-row-start: 3;
  grid-row-end: 8;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(249, 249, 249);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 0.6s ease;
  opacity: 0;
}

.gallery__item:hover .overlay {
  width: 100%;
  height: 100%;
  clip-path: polygon(0 0, 0% 100%, 100% 0);
  opacity: 0.8;
}
.image-titles {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 50%;
  color: #000;
  right: 110px;
}

.image-titles > h3 {
  font-weight: 800;
  font-size: 20px;
}
.image-titles > h5 {
  font-weight: 400;
  margin-top: 8px;
}

/* footer icons */
footer {
  margin-top: 50px;
  height: 10vh;
}

.social-icons {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  font-size: 20px;
  align-items: center;
}
.social-icon {
  padding-right: 14px;
  padding-left: 14px;
}
.social-icon:focus {
  outline: 3px dashed orange;
}
.social-icon > .fab {
  color: var(--socialIcon);
  transition: all 0.5s;
}
.social-icon > .fa-twitter:hover {
  background-color: #00aced;
  color: #fff;
  padding: 5px;
}

.social-icon > .fa-facebook-f:hover {
  background-color: #405d9b;
  color: #fff;
  padding: 5px 8px;
}
.social-icon > .fa-linkedin-in:hover {
  background-color: #0073a4;
  color: #fff;
  padding: 5px;
}
.social-icon > .fa-instagram:hover {
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  color: #fff;
  padding: 5px;
}

@media only screen and (max-width: 1400px) {
  .image-titles > h3 {
    font-size: 16px;
  }

  .image-titles > h5 {
    margin-top: 8px;
    font-size: 12px;
  }
}

@media only screen and (max-width: 738px) {
  header > h1 {
    font-weight: 400;
    font-size: 30px;
  }

  header > h3 {
    font-weight: 400;
    margin-top: 10px;
    font-size: 20px;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
  }
  .gallery__item {
    width: 100%;
  }
  .image-titles > h3 {
    font-size: 20px;
  }

  .image-titles > h5 {
    margin-top: 8px;
    font-size: 16px;
  }
}

@media only screen and (max-width: 461px) {
  header > h1 {
    font-weight: 400;
    font-size: 20px;
  }
  header > h3 {
    font-weight: 400;
    margin-top: 10px;
    font-size: 16px;
  }
  .gallery {
    margin-top: 25px;
  }
  .image-titles > h3 {
    font-size: 16px;
  }

  .image-titles > h5 {
    margin-top: 6px;
    font-size: 12px;
  }
}

/* landing page first loading animation */

#main {
  min-height: 100vh;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.curtain {
  position: fixed;
  background-color: var(--contrast);
  width: 100vw;
  min-height: 100vh;
  top: 0px;
  left: 0px;
}

.progressBar {
  height: 2px;
  width: 2px;
  background-color: var(--bgColor);
}

.progressGrow-animation {
  animation: grow 2000ms cubic-bezier(0.65, 0, 0.35, 1) 1 forwards;
}

@keyframes grow {
  0% {
    width: 0px;
  }
  50% {
    width: calc(100vw - 24px);
    height: 2px;
  }
  100% {
    width: calc(100vw - 24px);
    height: calc(100vh - 24px);
  }
}

@media (max-width: 800px) {
  .flex {
    flex-wrap: wrap;
  }
}
/* landing page first loading animation */

/* Button resets & styles */
button {
  border: none;
  color: inherit;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

button:focus,
button:active {
  outline: none;
}

button:active {
  transform: scale(1);
}

/* Toggle button styles */
.toggle {
  background-color: var(--text);
  min-width: 60px;
  min-height: 30px;
  position: relative;
  border: 2px solid;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color ease-out 250ms;
}

.toggle::after {
  content: "";
  position: absolute;
  background-color: var(--background);
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  border-radius: 30px;
  transition: transform ease-out 250ms;
}

/* Active (dark mode) class for animating transition on toggle button*/
.toggle.clicked::after {
  transform: translateX(100%);
}
