* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #d5d5d5;
  height: 100%;
}

header {
  height: 10vh;
}

.container {
  width: 70%;
  margin: 0 auto;
  margin-top: 50px;
}

header > h1 {
  font-weight: 400;
  font-size: 50px;
}

header > h3 {
  font-weight: 400;
  color: #5f5e5e;
  margin-top: 10px;
  font-size: 30px;
}

/* gallery images */
.gallery {
  margin-top: 75px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(7, 6vw);
  grid-gap: 15px;
}
.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery__item {
  position: relative;
}
.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}
.gallery__item--2 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 6;
}
.gallery__item--3 {
  grid-column-start: 7;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 3;
}
.gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 8;
}
.gallery__item--5 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 6;
  grid-row-end: 8;
}
.gallery__item--6 {
  grid-column-start: 7;
  grid-column-end: 10;
  grid-row-start: 3;
  grid-row-end: 8;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(249, 249, 249);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 0.6s ease;
  opacity: 0;
}

.gallery__item:hover .overlay {
  width: 100%;
  height: 100%;
  clip-path: polygon(0 0, 0% 100%, 100% 0);
  opacity: 0.8;
}
.image-titles {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 50%;
  color: #000;
  right: 110px;
}

.image-titles > h3 {
  font-weight: 800;
  font-size: 20px;
}
.image-titles > h5 {
  font-weight: 400;
  margin-top: 8px;
}

/* footer icons */
footer {
  margin-top: 50px;
  height: 10vh;
}

.social-icons {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  font-size: 20px;
  align-items: center;
}
.social-icon {
  padding-right: 24px;
}
.social-icon > .fab {
  color: #000;
  transition: all 0.5s;
}
.social-icon > .fa-twitter:hover {
  background-color: #00aced;
  color: #fff;
  padding: 5px;
}

.social-icon > .fa-facebook-f:hover {
  background-color: #405d9b;
  color: #fff;
  padding: 5px 8px;
}
.social-icon > .fa-linkedin-in:hover {
  background-color: #0073a4;
  color: #fff;
  padding: 5px;
}
.social-icon > .fa-instagram:hover {
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  color: #fff;
  padding: 5px;
}

@media only screen and (max-width: 1400px) {
  .image-titles > h3 {
    font-size: 16px;
  }

  .image-titles > h5 {
    margin-top: 8px;
    font-size: 12px;
  }
}

@media only screen and (max-width: 738px) {
  header > h1 {
    font-weight: 400;
    font-size: 30px;
  }

  header > h3 {
    font-weight: 400;
    margin-top: 10px;
    font-size: 20px;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
  }
  .gallery__item {
    width: 100%;
  }
  .image-titles > h3 {
    font-size: 20px;
  }

  .image-titles > h5 {
    margin-top: 8px;
    font-size: 16px;
  }
}

@media only screen and (max-width: 461px) {
  header > h1 {
    font-weight: 400;
    font-size: 20px;
  }
  header > h3 {
    font-weight: 400;
    margin-top: 10px;
    font-size: 16px;
  }
  .gallery {
    margin-top: 25px;
  }
  .image-titles > h3 {
    font-size: 16px;
  }

  .image-titles > h5 {
    margin-top: 6px;
    font-size: 12px;
  }
}
